{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="user-info-item">
            <p>Current user name:</p><button class="btn btn-warning" id="username-btn"></button>
        </div>
        <div class="user-info-item">
            <p>Current password:：</p><button class="btn btn-warning" id="password-btn"></button>
        </div>
        <div class="" style="margin-top: 30px;">
            <h5>Modify information：</h5>
            <input id="username-new" type="text" class="form-control input-hg" placeholder="New username" style="margin-bottom: 10px"/>
            <input id="password-new" type="text" class="form-control input-hg" placeholder="New password" style="margin-bottom: 10px"/>
            <button class="btn btn-primary" style="float:right;margin-top: 10px;" onclick="submitEditUser()">Submit</button>
        </div>


    </div>
{% endblock %}

{% block script %}
    <script src="static/scripts/edit_user.js?v=201904102067"></script>
{% endblock %}
